Cargo.lock
madlab.exe
madlab.wasm
/target
_madlab.exe
.gitignore
.vs/*
particles/firacode.ttf
particles/jetbrain.ttf
particles/particles.exe
particles/assets/fonts/firacode.ttf
particles/assets/fonts/jetbrain_medium.ttf
particles/assets/ico/icon.ico
particles/assets/ico/icon1.ico
particles/assets/ico/icon2.ico
particles/assets/ico/icon3.ico
particles/assets/ico/physix.ico
particles/assets/img/icon.png
particles/assets/img/icon1.png
particles/assets/img/icon2.png
particles/assets/img/icon3.png
particles/assets/img/life2_logo.png
particles/assets/img/physix.png
.gitignore
madlab2.exe
Cargo.lock
madlab3.exe
